<div *ngIf="product">
  <div class="detail">
    <div class="col-md-8 h-10">
      <img class="w-75" src="https://img.thuthuatphanmem.vn/uploads/2018/09/25/hinh-anh-hoa-cuc-cau-vong-dep_110817989.jpg" [alt]="product.name">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.price }} - {{ product.sale }} - {{ product.percent }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      <div class="button-group">
        <a [routerLink]="['productOverview']" class="btn btn-primary">Overview</a>
        <a [routerLink]="['productProject']" class="btn btn-success">Projects</a>
        <a [routerLink]="['/listProducts']" class="btn btn-secondary">Go back</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
